/* .partners  {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.partners > dt {
    float: left;
    padding-right: 1rem;
    margin: 0;
}
.partners > dd {
    float: left;
    padding: 0;
    margin: 0;
} */